
<% @movies.each do |movie| %>
<div class= "movieposition">
  <div class="card">
    <div class="card-image">
       <%= link_to(image_tag(movie.avatar, height: '210', width:'300'), movie_path(movie)) %>
    </div>
    <h2><%=link_to movie.title, movie_path(movie) %></h2>
    <h3><%= formatted_date(movie.release_date) %></h3>
    <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %>minutes</h4>
    <p><%= movie.description %></p>
    <p><%= movie.review_average %>/10</p>
  </div>
</div>  
<% end %>



<!-- <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://placehold.it/64x64" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-5">John Smith</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a href="#">@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <small>11:09 PM - 1 Jan 2016</small>
    </div>
  </div>
</div> -->